Flask[async]
Azure-identity
azure-keyvault-secrets
pyyaml
trio
httpx
azure-core
azure-identity
microsoft-kiota-abstractions
microsoft-kiota-authentication-azure
microsoft-kiota-http
microsoft-kiota-serialization-json
microsoft-kiota-serialization-text
msgraph-core
msgraph-sdk
urllib3